@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.sign-in-up-page {
  position: relative;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-box {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background: rgba(255,255,255,0.6);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 2;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-image: url('../image/pinMap.jpg');
  z-index: 1;
  opacity: 0.5; 
}

.sign-in-box form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signIn-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F5F1EF;
}

.sign-in-up-page button {
  width: 100%;
  padding: 12px;
  background-color: #7c5645bb;
  color: white;
  border: none;
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px; 
}

.sign-in-up-page button:hover {
  background-color: #C5B8B2;
}

.sign-in-box h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Dancing Script', sans-serif;
}
